{% extends "layout_app.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What are you trading?</h1>

      <form class="form" action="where_from" method="post">
        <table class="govuk-table">
          <caption class="govuk-table__caption">Selected commodity</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Commodity code</th>
              <th scope="col" class="govuk-table__header">Commodity description</th>
              <th scope="col" class="govuk-table__header ">Change</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">03060000</a></td>
              <td class="govuk-table__cell">Live bison</td>
              <td class="govuk-table__cell"><a href="#">Change</a></td>
            </tr>
          </tbody>
        </table>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-fieldset__heading">
                    Which species are you trading?
                  </h2>
                </legend>
                <span id="waste-hint" class="govuk-hint">
                  Select all that apply.
                </span>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Bison bison
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Bos taurus
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
