{% extends "layout_app.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">CHEDA.GB.2019.1000010</span>
      <h1 class="govuk-heading-xl">
        Import notification
      </h1>
      <p>
        These sections can be completed in any order. You can save your progress and return at any time.
      </p>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            About the consignment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-completed">
                  Commodity
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Country of departure
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Country of arrival
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Description of the goods
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-completed">
                  Purpose of the consignment
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-completed">
                  Additional details
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Transport to the Border Control Post (BCP)
                </a>
              </span>
            </li>
            
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Veterinary documents
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Traders
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Consignor or Exporter, Consignee, Importer and Place of Destination
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Transport
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Transporter
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Means of transport after Border Control Post (BCP)
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Route
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Complete notification
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="confirm.html">
                  Review and submit
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
