{% extends "layout.html" %}

{% block pageTitle %}
  How to trade animals, plants, and animal and plant products with other countries in 2021
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Importing and exporting in 2021</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Find out how to trade animals, plants and agricultural products with other countries from 2021
        </h1>

        <p>From 1 January 2021 there will be new rules for importing and exporting:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>animals</li>
          <li>plants</li>
          <li>animal products</li>
          <li>plant products</li>
        </ul>

        <p>Find out how to get ready for these new rules by telling us:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what you are importing or exporting</li>
          <li>where it is coming from</li>
          <li>where it is going to</li>
        </ul>
    

        <a href="commodity" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        
        <h2 class="govuk-heading-m" id="the-transition-period">The transition period</h2>
      
        <p>The UK has left the EU.</p>
      
        <p>There is now a transition period until the end of 2020 while the UK and EU negotiate additional arrangements.</p>
      
        <p>The current rules on trade, travel, and business for the UK and EU will continue to apply during the transition period.</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-contextual-footer">
            <div class="gem-c-related-navigation">
                <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-4cbe129d" data-module="gem-toggle">
                    <h2 id="related-nav-topics-4cbe129d" class="govuk-heading-m" data-track-count="footerRelatedItemSection">Explore the topic</h2>
                    <ul class="gem-c-related-navigation__link-list" data-module="track-click">
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/transition" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Transition period&quot;}" href="/transition">Transition period</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  </div>

  {% endblock %}