
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DEFRA Trade Platform: Front door prototypes
        
      </h1>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <h3>
            <a href="front_door/prototype_v1/start.html">Prototype v1</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b><br/>
            Initial prototype created from SME, product owner and team input. Team consisted of members who have been working on trade projects for a number of years so have a broad trade understanding</p>
        </li>
        <li>
          <h3>
            <a href="front_door/prototype_v2/start.html">Prototype v2</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b><br/>
            Expanding initial prototype to include content updates on the start-page</p>
        </li>
        <li>
          <h3>
            <a href="front_door/prototype_v3/start.html">Prototype v3</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b><br/>
            Splitting imports and exports</p>
        </li>
    </div>
</div>

{% endblock %}
