
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DEFRA Trade Platform: Front door prototypes
        
      </h1>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Prototypes</h2>

      <h3 class="govuk-heading-m">Guidance Finder</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <h3>
            <a href="front_door_routing/prototype_v1/google/index.html">Prototype v1</a>
          </h3>
          <p><b>User group - First time user - exisiting EU only trader, never needed to use a trade system (TRACES) before</b><br/>
            Prototype journey to guide the user to the appropriate information for them to be able to trade after Jan 1st 2020</p>
            <p>User journeys covered:</p>
            <ul>
              <li>Importing plants - use "Orchids" as commodity type</li>
              <li>Exporting fish - use "Salmon" as commodity type</li>
              <li>Exporting horses - user "Horses" as commodity type</li>
            </ul>
        </li>
      </ul>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <h3>
            <a href="front_door_routing/prototype_v2/google/index.html">Prototype v2</a>
          </h3>
          <p><b>User group - First time user - exisiting EU only trader, never needed to use a trade system (TRACES) before</b><br/>
            Improved prototype to show relevent action pages</p>
            <p>User journeys covered:</p>
            <ul>
              <li>Importing plants - use "Orchids" as commodity type</li>
              <li>Exporting fish - use "Salmon" as commodity type</li>
              <li>Exporting horses - user "Horses" as commodity type</li>
            </ul>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Trade Dashboard</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <h3>
            <a href="front_door_dashboard/prototype_v1/start.html">Prototype v1</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b><br/>
            Initial prototype created from SME, product owner and team input. Team consisted of members who have been working on trade projects for a number of years so have a broad trade understanding</p>
        </li>
        <li>
          <h3>
            <a href="front_door_dashboard/prototype_v2/start.html">Prototype v2</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b><br/>
            Expanding initial prototype to include content updates on the start-page</p>
        </li>
        <li>
          <h3>
            <a href="front_door_dashboard/prototype_v3/start.html">Prototype v3</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b></p>
            <ul>
              <li>Splitting imports and exports panels on the dashboard page.</li>
              <li>Splitting imports and exports starting point journeys</li>
            </ul>
        </li>
        <li>
          <h3>
            <a href="front_door_dashboard/prototype_v4/start.html">Prototype v4</a>
          </h3>
          <p><b>User group - Existing user - multi service user</b></p>
            <ul>
              <li>Update dashboard with "notification" panels</li>
              <li>Add links to the imports and exports service search screens</li>
            </ul>
        </li>
      </ul>

      
    </div>
</div>

{% endblock %}
